@model MVC_Dashboard_Northwind.Models.Employee
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card-body">
    <a class="btn btn-warning float-end ms-3" href="/employee/index">Employee</a>
    Employee Update
</div>


<div class="card-body">
    <form method="post">

        <label>EmployeeID</label>
        <input type="text" class="form-control" />

        <label>First Name</label>
        <input type="text" class="form-control" />

        <label>Last Name</label>
        <input type="text" class="form-control" />

        <label>Title</label>
        <input type="text" class="form-control" />
        <br />

        <button type="submit">Employee</button>
    </form>

</div>
